.ui.secondary.pointing.menu {
  margin-top: -14px;
  background-color: #121A24 !important;
    
}

.ui.secondary.inverted.pointing.menu .item {
  margin-left: 3%;
}

a {
  color: #767C83 !important;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #71F3AE !important;
}

.connected {
  margin-right: 2%;
  width: 100%;
}

.connRight {
  display: block !important;
  text-align: right !important;
}

div.item span {
  font-weight: 800 !important;
}