.modal-trim {
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 0px;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.modalHeader:before{
    background: #fff;
}

.modalHeader span{
    font-weight: bold !important;
}

.ui.modal > .content {
    padding: 0px !important;
}

.ui.modal > .close{
    font-size: 27px !important;
    color: rgba(0, 0, 0, 0.85) !important;
    top: 0.5rem !important;
    right: 1.5rem !important;
}
