.appfooter {
  position: fixed;
  z-index: 5;
  bottom: 0;
  display: block;
  margin-left: 100px;
  width: 100%;
  text-align: center;
}

.footer__copyright .menu__link {
  font-size: 150%;
  color: #E8EBEF !important;
}
