.blockDisplay {
  margin: 0 auto;
}

.letOverflow {
  flex-wrap: nowrap !important;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

#dash {
  margin-bottom: 1%;
}

.timeline:before {
  visibility: hidden !important;
}