.fontSize100 {
  font-size: 70px;
}

.greenColor {
  font-weight: 800 !important;
  color: #39BA91 !important;
  text-transform: uppercase;
}

.upperCase {
  font-weight: 800 !important;
  text-transform: uppercase;
}

.font17 {
  font-size: 17px;
}

.marginTop4 {
  margin-top: 4%;
}

.mb10 {
  margin-bottom: 10%;
}

.payloadShadow {
  box-shadow: 0 1px 3px 0 #25363a, 0 0 0 1px #3d646d !important;
}

i.icon, i.icons {
  font-size: 0.60em !important;
  color: #767C83 !important;
}

.trim {
  width: 65%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wordWrap {
  text-overflow: ellipsis;
  overflow: hidden;
}

.createDesc {
  max-height: 130px
}

.transferDesc {
  max-height: 115px
}

.ui .card .cardBody {
  min-height: 190px;
  max-height: 190px;
}

.create {
  background-color: #C6E5EB !important;
}

.transfer {
  background-color: #82CEE2 !important;
}

.cardHeader .right {
  font-weight: 800 !important;
}

.desc {
  overflow: hidden;
}