.bgreen {
  position: relative;
  padding: 6px;
  border: 1px solid #00C8A8;
  border-radius: 8px;
  resize: both;
}

.ui.grid {
  margin: 0 -1rem 25rem 0 !important;
}

.blockTitle {
  margin-bottom: 10px;
  max-width: 290px;
  text-align: center;
  cursor: pointer;
}

.blockTitle #title {
  color: #00C8A8;
}

.blockTitle .blockNo {
  color: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.box > .ui .card {
  flex: 1 1 289px;
  margin: 10px;
}

.parent {
  display: flex;
  flex-direction: column;
}

.ui.centered.card {
  margin: 10px !important;
}

.dot {
  position: absolute;
  display: inline-block;
  margin-top: 20px;
  width: 15px;
  height: 15px;
  background-color: rgba(187, 187, 187, 0.6);
  border-radius: 50%;
}

.front {
  position: absolute;
  left: -8px;
}

.back {
  position: absolute;
  right: -8px;
}

.line {
  position: absolute;
  margin-left: 15px;
  width: 34px;
  height: 8px;
  border-bottom: 2px solid rgba(187, 187, 187, 0.6);
}